body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link{
  text-decoration: none;
  color: white;
  margin-left: 25px;
}

.link:hover{
  color: lightslategray;
}

.signup-form{
  width:500px;
  margin:30px auto 0;
  padding:30px;
  border:1px solid darkcyan;
}

.alert{
  position: absolute;
  width:300px;
}

.alert2{
  position: absolute;
  width:400px;
}

.log-out{
  position: absolute;
  right:10px;
  top:10px;
}

.welcome{
  margin-top:50px;
  text-align: center;
}

.happy{
  height:450px;
  width:700px;
  margin-left: 300px;
}
